@import '../../../global.scss';
.chatWindowDesign{
    width: 30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

//Chat Header Design
.headerChatWindow{
    width: 100%;
    height: 10%;
    @include flex();
    justify-content: left;
}

.pictChatWindow{
    border-radius: 50%;
    height: 100%;
    width: 20%;
}

.nameChatWindow{
    width: 60%;
    margin-left: 0.8em;
}

.closeChatWindow{
    position: absolute;
    top: 0;
    right: 0;
}

//Body chat Window to show previouse messages
.bodyChatWindow{
    width: 100%;
    height: 65%;
    //To enable scroll
    overflow: auto;
    background-color: whitesmoke;
    margin-top: 0.5em;
}


.bodyChatWindowResult{
    width: 100%;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 0.1em solid black;
    @include flex();
    flex-direction: column;
}

.bodyChatWindowHeader{
    width: 95%;
    @include flex();
    justify-content: space-between;
    gap: 0.5em;
    margin-bottom: 1em;
}

.bodyChatWindowName{
    border-bottom: 1px solid rgb(121, 121, 121);
}

.bodyChatWindowDate{
    font-size: 0.8em;
}

.bodyChatWindowMessage{
    width: 95%;
}

//Input text to write message in chat
.inputChatWindow{
    width: 100%;
    height: 15%;
    @include flex();
    margin-top: 0.5em;
}

.inputMessageChatWindow{
    width: 95%;
    height: 90%;
    resize: none;
}


//Footer chat Window
.footerBarChatWindow{
    width: 100%;
    height: 5%;
    @include flex();
    justify-content: right;
}

.buttonFooterBarChatWindow{
    margin-right: 1em;
}


