.clientsPage {
    height: 100%;
    background-color: #353535;
    font-family: 'Prompt';
    // border-radius: 20px;
    
}

.clientsPage input {
    height:     40px;
    font-family: 'Prompt';
    font-size: 20px;
    margin: 20px;
    width: 60%;
    border-radius: 25px;
    color: #3a3a3a;
    background-color: #353535;
    border: 3px solid rgb(255, 242, 0);
    transition: .3s;
    outline: none; 
}


.clientsPage input:hover {
    background-color: #aeaeae;
}

.clientsDesign {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 85%;
    background-color: #353535;
    font-family: 'Prompt';
    overflow: scroll;
}

.cardData{
   
}

.clientsCards {
    font-family: 'Prompt';
    background-color: #575757;
    margin: 10px;
    -webkit-box-shadow: 12px 10px 35px -3px rgba(39, 39, 39, 0.75);
    -moz-box-shadow: 12px 10px 35px -3px rgba(39, 39, 39, 0.75);
    box-shadow: 12px 10px 35px -3px rgba(39, 39, 39, 0.75);
}

.cardInfo{
  display: flex;
  flex-direction: column;
  margin: 15px;
  color:rgb(211, 211, 211)
}

.cardInfo div{
    display: flex;
  }

.userImg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

img {
    width: 35%;
    margin: 0px;
    
}

.barProfile {
    margin: 0 auto;
    width: 80%;
    height: 5px;
    background-color: #baa800;
}

.newProjectButton {
 font-size: 100px;
 transform: translateY(-30px);
 color: #baa800;
}

/* Barra scroll*/

.clientsDesign::-webkit-scrollbar {
    -webkit-appearance: none; 
}

.clientsDesign::-webkit-scrollbar:vertical {
    width:15px;
}

.clientsDesign::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;   
}

.clientsDesign::-webkit-scrollbar-thumb {
    background-color: #eae600;
    border: 4px solid #2f2f2f;
    border-radius: 20px;
}

.clientsDesigne::-webkit-scrollbar-track {
    border-radius: 10px;  
}



