section {
  background: linear-gradient(rgba(65, 65, 65, 0.5), rgba(0, 0, 0, 0.5)), url("../img/backg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-attachment: fixed;
	background-color: transparent;
}

button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 800;
  width: 200px;
  height: 50px;
  margin: 50px;
  background-color: rgb(212, 176, 0);
  border-radius: 10px;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.intro-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-txt h1 {
  font-size: 100px;
}

.intro-txt p {
  font-size: 50px;
  margin-bottom: 200px;
}

.info-user {
  background-color: #fff;
  filter: opacity(0.5);
  width: 70%;
  margin: 0 auto;
  border-radius: 30px;
  display: flex;
}


.icons {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 50px;
 text-align: center;
}

.icons img {
  width: 100%;
  transition: 0.3s;
}

.icons img:hover {
  scale: 1.1;
 }

 .icons p {
  font-weight: 800;
}

.scroll-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 50px;
}


