section {
  background: linear-gradient(rgba(65, 65, 65, 0.5), rgba(0, 0, 0, 0.5)), url("../img/backg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-attachment: fixed;
	background-color: transparent;
}

#navbar {
  display: flex;
  align-items: flex-end;
  margin: 100px;
}

// button {
  
//   margin: 100px;
//   background-color: red;
  
// }


