@import '../../../global.scss';
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

.home-page {
  background: linear-gradient(rgba(65, 65, 65, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/backg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-attachment: fixed;
	background-color: transparent;
  width: 100%;
  height: 200vh;
}


.login-nav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 200px;
  height: 50px;
  background-image: linear-gradient(to bottom, #ffe400, #eecb00, #dbb400, #c89d00, #b48700);
  color:  #2c2c2c;
  font-family: 'Prompt';
  font-weight: 800;
  text-decoration: none;
  border: 0px solid rgb(106, 106, 106);
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  transition: .3s ease all;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.login-nav::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(61, 61, 61, 0.882);
  position: absolute;
  z-index: 1;
  top: -60px;
  left: 0;
  transition: .3s ease-in-out;
}

.login-nav span {
  position: relative;
  z-index: 2;
  transition: .3s ease all;
}

.login-nav:hover::after{
  top: 0;
}

.login-nav:hover {
  color: #ffe400;;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.intro-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 10%;
}

.intro-txt h1 {
  font-size: 70px;
  color: #fff;
  font-family: 'Prompt';
}

.intro-txt p {
  font-size: 20px;
  margin-bottom: 50px;
  color: #fff;
  width: 50%;
  text-align: center;
  font-family: 'Prompt';
  font-weight: 800;
}

.info-user {
  background-color: rgba(255, 255, 255, 0.6);
  width: 70%;
  margin: 0 auto;
  border-radius: 30px;
  display: flex;
}


.icons {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 50px;
 text-align: center;
 font-family: 'Prompt';
}

.icons img {
  width: 100%;
  transition: 0.3s;
}

.icons img:hover {
  scale: 1.1;
 }

 .icons p {
  font-weight: 800;
}

.scroll-button {
  @include flex();
  color: #fff;
  font-size: 50px;
}


