@import '../../../global.scss';

.loginDesign{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #ffe400, #eecb00, #dbb400, #c89d00, #b48700);
    @include flex()
}

.loginInputs{
    width: 25%;
    height: 70%;
    background-color: #2f2f2f;
    color: #fff;
    @include flex();
    flex-direction: column;
    box-shadow: 10px 15px 5px #7c7000;
}

.loginDesign h1 {
    font-family: 'Prompt';
    font-size: 20px;
    margin: 20px 0;
}

.loginInputs input {
    background-color: transparent;
    height: 50px;
    width: 60%;
    border: none;
    font-family: 'Prompt';
    font-size: 15px;
    color: #fff;
    border-bottom: 3px solid #ffe400;
    transition: .3s;
}

.loginLogo {
    @include flex();
    margin: 40px;
    
}

.logo-login {
    width: 20%;
    margin-right: 15px;
}

.loginInputs input:hover {
    background-color: rgba(95, 95, 95, 0.882);
   
}

.login-home {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 200px;
    height: 60px;
    background-color: rgba(95, 95, 95, 0.882);
    color:  #ffe400;;
    font-family: 'Prompt';
    font-size: 15px;
    font-weight: 800;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.login-home::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ffe400, #eecb00, #dbb400, #c89d00, #b48700);
    position: absolute;
    z-index: 1;
    top: -60px;
    left: 0;
    transition: .3s ease-in-out;
}

.login-home span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.login-home:hover::after{
    top: 0;
}

.login-home:hover {
    color: black;
}