@import '../../../global.scss';
.dashboardDesign{
    background-image: linear-gradient(to bottom, #ffe400, #eecb00, #dbb400, #c89d00, #b48700);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.logoutButton{
    position: absolute;
    top: 0;
    right: 0;
}

.sideBarContainer{
    width: 80%;
    height: 75%;
    @include flex()
}

.chatComponentContaine{
    width: 250px;
    height: 75%;
    border: 1px solid black;
}

.sideBarMenu{
    width: 15%;
    height: 100%;
    background-color: #fff;
    border-right: 2px solid black;
    
}

.renderContainer{
    width: 85%;
    height: 100%;
    background-color: #fff;
    
}

.sideBarSelectionContainer{
    margin-top: 1em;
    width: 100%;
    height: 30%;
    // border: 1px solid black;
    @include flex();
    flex-direction: column;
}


.chatbuttonContainer{
    width: 250px;
    height: 30px;
    background-color: white;
    position: absolute;
    bottom: 50px;
    right: 100px;
}

.chatsContainer{
    width: 82%;
    height: 350px;
    border: 1px solid blue;
    position: absolute;
    bottom: 10px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
}